.grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
 }
 
 .card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
 }
 
 .card:hover,
 .card:focus,
 .card:active {
  color: #0070f3;
  border-color: #0070f3;
 }
 
 .card h3 {
  margin: 0 0 1rem 0;
 }
 
 .card p {
   margin: 0;
   font-size: 1.25rem;
   line-height: 1.5;
 }
 
 
/* style for single book page */
.singleBookContainer{
  max-width: 800px;
  padding-bottom: 8vh;
}
.singleBookContainer_portion{
  padding-bottom: 1vh;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
 }
 