html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
.main-section {
  padding: 8vh 3vw;
}
aside {
  width:20vw;
  position:fixed;
  height:100%;
  top: 0;
  left: 0;
  padding:10vh 3vw 0 0;
}
nav{
  height: 100%;
  border-right: 1px solid #eaeaea;
  padding-left: 3vw;
}

form {
  padding-top:3vh;
  width: 66%;
  margin: auto;
}
input:not([type="checkbox"]),
select,
textarea {
  width: 100%;
  border-radius: 5px;
  color: #000;
  border: 1px solid #eaeaea;
  padding:8px;
}
input[type="checkbox"]{
  margin-right: 1.2vw;
}
label {
  color: #565656;
}
input:focus {
  border: 1px solid #666;
}
/* book instance status classes */
.Available {
  color: limegreen;
}
.Maintenance {
  color:mediumvioletred;
}
.Loaned {
 color: gray;
}
.Reserved {
  color: royalblue;
}

