*{
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
.main-section {
  padding: 13vh 2.5vw;
}
form {
  padding:0 9vw;
  padding-top:3vh;
  margin: auto;
}
input:not([type="checkbox"]),
select,
textarea {
  width: 100%;
  border-radius: 5px;
  color: #000;
  border: 1px solid #eaeaea;
  padding:8px;
}
input[type="checkbox"]{
  margin-right: 1.2vw;
}
label {
  color: #565656;
}
input:focus {
  border: 1px solid #666;
}
/* book instance status classes */
.Available {
  color: limegreen;
}
.Maintenance {
  color:mediumvioletred;
}
.Loaned {
 color: gray;
}
.Reserved {
  color: royalblue;
}

